
@{
    Layout = null;
}

<script src="~/js/error.js"></script>
<link href="~/css/error.css" rel="stylesheet" />
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <svg>

                </svg>
            </div>
            <div class="col-md-6 align-self-center">
                <h1>404</h1>
                <h2>Hay aksi ! Sayfa bulunamadı.</h2>
                <p>
                    Ulaşmaya çalıştığınız sayfa bulunamadı veya şuan kullanım dışı.
                    Aşağıdaki buton ile Ana Sayfaya dönebilirsiniz.
                </p>
                <button class="btn green">Ana Sayfaya Dön</button>
            </div>
        </div>
    </div>
</main>
